.table {
  border-collapse: collapse;
  width: 100%;

  /* table-layout: fixed; */
  /* max-width: 1200px; */
}

.table :is(td, th) {
  text-align: left;
}

.table th:hover {
  cursor: pointer;
}

.table input {
  cursor: pointer;
}

.table thead {
  border-bottom: 1px solid #e1e1e1;
}

.table thead th {
  padding: 1rem 2rem;
  white-space: nowrap;
}

.table tbody tr td {
  padding: 1rem 2rem;
}

.table tbody tr {
  border-bottom: 1px solid #ebebeb;
}

.table tbody tr:last-child {
  border: 0;
}

.table .collapse {
  background-color: #f9fdff;
  border-bottom: 1px dashed #e1e1e1;
  /* font-size: 0.875rem; */
  display: none;
}

.table .collapse__open {
  display: table-row;
}

.table .collapse--last {
  border-bottom: 1px solid #ebebeb;
}
